.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/cache/target/*

# Microbot-Hub plugin symlinks (loaded from local Microbot-Hub repo)
runelite-client/src/main/java/net/runelite/client/plugins/microbot/aerialfishing
runelite-client/src/main/java/net/runelite/client/plugins/microbot/agility
runelite-client/src/main/java/net/runelite/client/plugins/microbot/aiocamdozaal
runelite-client/src/main/java/net/runelite/client/plugins/microbot/aiofighter
runelite-client/src/main/java/net/runelite/client/plugins/microbot/aiomagic
runelite-client/src/main/java/net/runelite/client/plugins/microbot/amethystminer
runelite-client/src/main/java/net/runelite/client/plugins/microbot/AmmoniteCrabs
runelite-client/src/main/java/net/runelite/client/plugins/microbot/animatedarmour
runelite-client/src/main/java/net/runelite/client/plugins/microbot/anonymous
runelite-client/src/main/java/net/runelite/client/plugins/microbot/arceuusrc
runelite-client/src/main/java/net/runelite/client/plugins/microbot/arrowmaker
runelite-client/src/main/java/net/runelite/client/plugins/microbot/astralrc
runelite-client/src/main/java/net/runelite/client/plugins/microbot/autobankstander
runelite-client/src/main/java/net/runelite/client/plugins/microbot/autobuyer
runelite-client/src/main/java/net/runelite/client/plugins/microbot/autochompykiller
runelite-client/src/main/java/net/runelite/client/plugins/microbot/autoessencemining
runelite-client/src/main/java/net/runelite/client/plugins/microbot/autofishing
runelite-client/src/main/java/net/runelite/client/plugins/microbot/autogauntletprayer
runelite-client/src/main/java/net/runelite/client/plugins/microbot/baggedplants
runelite-client/src/main/java/net/runelite/client/plugins/microbot/banksbankstander
runelite-client/src/main/java/net/runelite/client/plugins/microbot/bankseller
runelite-client/src/main/java/net/runelite/client/plugins/microbot/banksorter
runelite-client/src/main/java/net/runelite/client/plugins/microbot/banksshopper
runelite-client/src/main/java/net/runelite/client/plugins/microbot/barbarianfishing
runelite-client/src/main/java/net/runelite/client/plugins/microbot/barbarianvillagefisher
runelite-client/src/main/java/net/runelite/client/plugins/microbot/barrows
runelite-client/src/main/java/net/runelite/client/plugins/microbot/birdhouseruns
runelite-client/src/main/java/net/runelite/client/plugins/microbot/birdhunter
runelite-client/src/main/java/net/runelite/client/plugins/microbot/blastoisefurnace
runelite-client/src/main/java/net/runelite/client/plugins/microbot/blessedwine
runelite-client/src/main/java/net/runelite/client/plugins/microbot/bluedragons
runelite-client/src/main/java/net/runelite/client/plugins/microbot/bonestobananas
runelite-client/src/main/java/net/runelite/client/plugins/microbot/bradleycombat
runelite-client/src/main/java/net/runelite/client/plugins/microbot/CalcifiedRockMiner
runelite-client/src/main/java/net/runelite/client/plugins/microbot/cannonballsmelter
runelite-client/src/main/java/net/runelite/client/plugins/microbot/chaosaltar
runelite-client/src/main/java/net/runelite/client/plugins/microbot/chartercrafter
runelite-client/src/main/java/net/runelite/client/plugins/microbot/chatbot
runelite-client/src/main/java/net/runelite/client/plugins/microbot/chillRunecraft
runelite-client/src/main/java/net/runelite/client/plugins/microbot/cluesolver
runelite-client/src/main/java/net/runelite/client/plugins/microbot/combathotkeys
runelite-client/src/main/java/net/runelite/client/plugins/microbot/construction
runelite-client/src/main/java/net/runelite/client/plugins/microbot/cooking
runelite-client/src/main/java/net/runelite/client/plugins/microbot/crafting
runelite-client/src/main/java/net/runelite/client/plugins/microbot/dailytasks
runelite-client/src/main/java/net/runelite/client/plugins/microbot/DeadFallTrapHunter
runelite-client/src/main/java/net/runelite/client/plugins/microbot/delveprayerhelper
runelite-client/src/main/java/net/runelite/client/plugins/microbot/DemonicGorillaKiller
runelite-client/src/main/java/net/runelite/client/plugins/microbot/discord
runelite-client/src/main/java/net/runelite/client/plugins/microbot/driftnet
runelite-client/src/main/java/net/runelite/client/plugins/microbot/eelfishing
runelite-client/src/main/java/net/runelite/client/plugins/microbot/EnsouledHeadSlayer
runelite-client/src/main/java/net/runelite/client/plugins/microbot/eventdismiss
runelite-client/src/main/java/net/runelite/client/plugins/microbot/farmtreerun
runelite-client/src/main/java/net/runelite/client/plugins/microbot/fishingtrawler
runelite-client/src/main/java/net/runelite/client/plugins/microbot/fletching
runelite-client/src/main/java/net/runelite/client/plugins/microbot/flipperschaser
runelite-client/src/main/java/net/runelite/client/plugins/microbot/frostyrc
runelite-client/src/main/java/net/runelite/client/plugins/microbot/gauntlethelper
runelite-client/src/main/java/net/runelite/client/plugins/microbot/gebotrecruiter
runelite-client/src/main/java/net/runelite/client/plugins/microbot/gecooker
runelite-client/src/main/java/net/runelite/client/plugins/microbot/gefiremaker
runelite-client/src/main/java/net/runelite/client/plugins/microbot/geflipper
runelite-client/src/main/java/net/runelite/client/plugins/microbot/GemCrabKiller
runelite-client/src/main/java/net/runelite/client/plugins/microbot/giantmole
runelite-client/src/main/java/net/runelite/client/plugins/microbot/GiantSeaweedFarmer
runelite-client/src/main/java/net/runelite/client/plugins/microbot/giantsfoundry
runelite-client/src/main/java/net/runelite/client/plugins/microbot/gildedaltar
runelite-client/src/main/java/net/runelite/client/plugins/microbot/glassmake
runelite-client/src/main/java/net/runelite/client/plugins/microbot/goldrush
runelite-client/src/main/java/net/runelite/client/plugins/microbot/gotr
runelite-client/src/main/java/net/runelite/client/plugins/microbot/grapefarmer
runelite-client/src/main/java/net/runelite/client/plugins/microbot/herbiboar
runelite-client/src/main/java/net/runelite/client/plugins/microbot/herbrun
runelite-client/src/main/java/net/runelite/client/plugins/microbot/housetab
runelite-client/src/main/java/net/runelite/client/plugins/microbot/housethieving
runelite-client/src/main/java/net/runelite/client/plugins/microbot/HueycoatlPrayer
runelite-client/src/main/java/net/runelite/client/plugins/microbot/humidifier
runelite-client/src/main/java/net/runelite/client/plugins/microbot/hunterKabbits
runelite-client/src/main/java/net/runelite/client/plugins/microbot/jad
runelite-client/src/main/java/net/runelite/client/plugins/microbot/jewelleryenchant
runelite-client/src/main/java/net/runelite/client/plugins/microbot/karambwans
runelite-client/src/main/java/net/runelite/client/plugins/microbot/kittentracker
runelite-client/src/main/java/net/runelite/client/plugins/microbot/looter
runelite-client/src/main/java/net/runelite/client/plugins/microbot/lunarplankmake
runelite-client/src/main/java/net/runelite/client/plugins/microbot/lunartablets
runelite-client/src/main/java/net/runelite/client/plugins/microbot/lunartanner
runelite-client/src/main/java/net/runelite/client/plugins/microbot/magetrainingarena
runelite-client/src/main/java/net/runelite/client/plugins/microbot/mahoganyhomez
runelite-client/src/main/java/net/runelite/client/plugins/microbot/mess
runelite-client/src/main/java/net/runelite/client/plugins/microbot/microhunter
runelite-client/src/main/java/net/runelite/client/plugins/microbot/mining
runelite-client/src/main/java/net/runelite/client/plugins/microbot/minnowsfishing
runelite-client/src/main/java/net/runelite/client/plugins/microbot/mixology
runelite-client/src/main/java/net/runelite/client/plugins/microbot/mke_wintertodt
runelite-client/src/main/java/net/runelite/client/plugins/microbot/mmcaves
runelite-client/src/main/java/net/runelite/client/plugins/microbot/moonlightmoth
runelite-client/src/main/java/net/runelite/client/plugins/microbot/moonsofperil
runelite-client/src/main/java/net/runelite/client/plugins/microbot/motherloadmine
runelite-client/src/main/java/net/runelite/client/plugins/microbot/natepieshells
runelite-client/src/main/java/net/runelite/client/plugins/microbot/natewinemaker
runelite-client/src/main/java/net/runelite/client/plugins/microbot/nmz
runelite-client/src/main/java/net/runelite/client/plugins/microbot/npctanner
runelite-client/src/main/java/net/runelite/client/plugins/microbot/orbcharger
runelite-client/src/main/java/net/runelite/client/plugins/microbot/ourania
runelite-client/src/main/java/net/runelite/client/plugins/microbot/pestcontrol
runelite-client/src/main/java/net/runelite/client/plugins/microbot/piebaker
runelite-client/src/main/java/net/runelite/client/plugins/microbot/plankrunner
runelite-client/src/main/java/net/runelite/client/plugins/microbot/playermonitor
runelite-client/src/main/java/net/runelite/client/plugins/microbot/PluginConstants.java
runelite-client/src/main/java/net/runelite/client/plugins/microbot/pumper
runelite-client/src/main/java/net/runelite/client/plugins/microbot/pyrefox
runelite-client/src/main/java/net/runelite/client/plugins/microbot/qualityoflife
runelite-client/src/main/java/net/runelite/client/plugins/microbot/revkiller
runelite-client/src/main/java/net/runelite/client/plugins/microbot/roguesden
runelite-client/src/main/java/net/runelite/client/plugins/microbot/RoyalTitans
runelite-client/src/main/java/net/runelite/client/plugins/microbot/sailing
runelite-client/src/main/java/net/runelite/client/plugins/microbot/salamanders
runelite-client/src/main/java/net/runelite/client/plugins/microbot/sandcrabs
runelite-client/src/main/java/net/runelite/client/plugins/microbot/sandminer
runelite-client/src/main/java/net/runelite/client/plugins/microbot/scurrius
runelite-client/src/main/java/net/runelite/client/plugins/microbot/shadeskiller
runelite-client/src/main/java/net/runelite/client/plugins/microbot/shootingstar
runelite-client/src/main/java/net/runelite/client/plugins/microbot/slayer
runelite-client/src/main/java/net/runelite/client/plugins/microbot/smelting
runelite-client/src/main/java/net/runelite/client/plugins/microbot/stonechests
runelite-client/src/main/java/net/runelite/client/plugins/microbot/sulphurnaguafigther
runelite-client/src/main/java/net/runelite/client/plugins/microbot/summergarden
runelite-client/src/main/java/net/runelite/client/plugins/microbot/TearsOfGuthix
runelite-client/src/main/java/net/runelite/client/plugins/microbot/tempoross
runelite-client/src/main/java/net/runelite/client/plugins/microbot/theatre
runelite-client/src/main/java/net/runelite/client/plugins/microbot/thieving
runelite-client/src/main/java/net/runelite/client/plugins/microbot/thievingstalls
runelite-client/src/main/java/net/runelite/client/plugins/microbot/tithefarming
runelite-client/src/main/java/net/runelite/client/plugins/microbot/tormenteddemons
runelite-client/src/main/java/net/runelite/client/plugins/microbot/toweroflife_creaturecreation
runelite-client/src/main/java/net/runelite/client/plugins/microbot/tutorialisland
runelite-client/src/main/java/net/runelite/client/plugins/microbot/TzhaarVenatorBow
runelite-client/src/main/java/net/runelite/client/plugins/microbot/valetotems
runelite-client/src/main/java/net/runelite/client/plugins/microbot/varrockanvil
runelite-client/src/main/java/net/runelite/client/plugins/microbot/varrockcleaner
runelite-client/src/main/java/net/runelite/client/plugins/microbot/virewatch
runelite-client/src/main/java/net/runelite/client/plugins/microbot/volcanicashminer
runelite-client/src/main/java/net/runelite/client/plugins/microbot/vorkath
runelite-client/src/main/java/net/runelite/client/plugins/microbot/wildernessagility
runelite-client/src/main/java/net/runelite/client/plugins/microbot/wintertodt
runelite-client/src/main/java/net/runelite/client/plugins/microbot/woodcutting
runelite-client/src/main/java/net/runelite/client/plugins/microbot/zeroprayer
runelite-client/src/main/java/net/runelite/client/plugins/microbot/zulrah
